RecargasAdmin/Service References/SvcFAC_TKN/Tokenization2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.firstatlanticcommerce.com/gateway/data" elementFormDefault="qualified" targetNamespace="http://schemas.firstatlanticcommerce.com/gateway/data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TokenizeRequest">
    <xs:sequence>
      <xs:element name="CardNumber" nillable="true" type="xs:string" />
      <xs:element name="CustomerReference" nillable="true" type="xs:string" />
      <xs:element name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element name="MerchantNumber" nillable="true" type="xs:string" />
      <xs:element name="Signature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenizeRequest" nillable="true" type="tns:TokenizeRequest" />
  <xs:complexType name="TokenizeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenizeResponse" nillable="true" type="tns:TokenizeResponse" />
  <xs:complexType name="DeTokenizeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="MerchantNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenPAN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeTokenizeRequest" nillable="true" type="tns:DeTokenizeRequest" />
  <xs:complexType name="DeTokenizeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeTokenizeResponse" nillable="true" type="tns:DeTokenizeResponse" />
  <xs:complexType name="TokenListRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenListRequest" nillable="true" type="tns:TokenListRequest" />
  <xs:complexType name="TokenListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardList" nillable="true" type="tns:ArrayOfTokenizedCard" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenListResponse" nillable="true" type="tns:TokenListResponse" />
  <xs:complexType name="ArrayOfTokenizedCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TokenizedCard" nillable="true" type="tns:TokenizedCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTokenizedCard" nillable="true" type="tns:ArrayOfTokenizedCard" />
  <xs:complexType name="TokenizedCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenPAN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenizedCard" nillable="true" type="tns:TokenizedCard" />
  <xs:complexType name="UpdateTokenRequest">
    <xs:sequence>
      <xs:element name="CustomerReference" nillable="true" type="xs:string" />
      <xs:element name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element name="MerchantNumber" nillable="true" type="xs:string" />
      <xs:element name="Signature" nillable="true" type="xs:string" />
      <xs:element name="TokenPAN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateTokenRequest" nillable="true" type="tns:UpdateTokenRequest" />
  <xs:complexType name="UpdateTokenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="TokenPAN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateTokenResponse" nillable="true" type="tns:UpdateTokenResponse" />
  <xs:complexType name="ExpiringCreditCardsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element name="MerchantId" nillable="true" type="xs:string" />
      <xs:element name="Signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpiringCreditCardsRequest" nillable="true" type="tns:ExpiringCreditCardsRequest" />
  <xs:complexType name="ExpiringCreditCardsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiringCreditCards" nillable="true" type="tns:ArrayOfExpiringCreditCard" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpiringCreditCardsResponse" nillable="true" type="tns:ExpiringCreditCardsResponse" />
  <xs:complexType name="ArrayOfExpiringCreditCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpiringCreditCard" nillable="true" type="tns:ExpiringCreditCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpiringCreditCard" nillable="true" type="tns:ArrayOfExpiringCreditCard" />
  <xs:complexType name="ExpiringCreditCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaskedPAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpiringCreditCard" nillable="true" type="tns:ExpiringCreditCard" />
</xs:schema>