RecargasAdmin/Service References/SvcFAC_SVC/Services2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.firstatlanticcommerce.com/gateway" elementFormDefault="qualified" targetNamespace="http://schemas.firstatlanticcommerce.com/gateway" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ecm.firstatlanticcommerce.com/PGService/Services.svc?xsd=xsd2" namespace="http://schemas.firstatlanticcommerce.com/gateway/data" />
  <xs:element name="Authorize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.firstatlanticcommerce.com/gateway/data" minOccurs="0" name="Request" nillable="true" type="q1:AuthorizeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.firstatlanticcommerce.com/gateway/data" minOccurs="0" name="AuthorizeResult" nillable="true" type="q2:AuthorizeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionModification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.firstatlanticcommerce.com/gateway/data" minOccurs="0" name="Request" nillable="true" type="q3:TransactionModificationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionModificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.firstatlanticcommerce.com/gateway/data" minOccurs="0" name="TransactionModificationResult" nillable="true" type="q4:TransactionModificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authorize3DS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.firstatlanticcommerce.com/gateway/data" minOccurs="0" name="Request" nillable="true" type="q5:Authorize3DSRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authorize3DSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.firstatlanticcommerce.com/gateway/data" minOccurs="0" name="Authorize3DSResult" nillable="true" type="q6:Authorize3DSResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IPGeoLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.firstatlanticcommerce.com/gateway/data" minOccurs="0" name="Request" nillable="true" type="q7:IPGeoLocationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IPGeoLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.firstatlanticcommerce.com/gateway/data" minOccurs="0" name="IPGeoLocationResult" nillable="true" type="q8:IPGeoLocationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.firstatlanticcommerce.com/gateway/data" minOccurs="0" name="Request" nillable="true" type="q9:TransactionStatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.firstatlanticcommerce.com/gateway/data" minOccurs="0" name="TransactionStatusResult" nillable="true" type="q10:TransactionStatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>